<!doctype html>
<html>
  
  <head>
    <title>Simple List</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="demo.css">
    <script src="../components/platform/platform.js"></script>

    <!-- components -->
    <link rel="import" href="../components/font-roboto/roboto.html">
    <link rel="import" href="../components/core-header-panel/core-header-panel.html">
    <link rel="import" href="../components/core-toolbar/core-toolbar.html">
    <link rel="import" href="../components/core-icon-button/core-icon-button.html">
    <link rel="import" href="../components/simple-list/simple-list.html">

  </head>

  <body>

    <core-header-panel>
      <core-toolbar>
        <core-icon-button icon="menu"></core-icon-button>
        <div flex>Simple List</div>

        <core-icon-button icon="search"></core-icon-button>
        <core-icon-button icon="more-vert"></core-icon-button>
      </core-toolbar>

      <!-- simple-list -->
      <simple-list data="{{data}}" height="80">
        <template>
          <div class="item {{ {selected: selected} | tokenList }}"> Item {{id}} <br /> <p><i>{{description}}</i></p> </div>
        </template>
      </simple-list>
      <!-- /simple-list -->

    </core-header-panel>

    <script>
      (function () {

        var simpleList = document.querySelector('simple-list');

        loadData();

        // async data loading
        function loadData () {
          var data = [];
          
          setTimeout(function () {
            for (var i = 0, len = 500; i < len; i++) {
              data.push({
                id: i,
                name: 'item-'+i,
                description: 'description goes here ...'+i
              });
            }

            simpleList.data = data;
          }, 0);
        }

      })();

    </script>

  </body>

</html>